# =========================
# Operativsystem-skräp
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code (Din editor)
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# =========================
# Visual Studio
# =========================
.vs/
*.sqlite

# =========================
# LaTeX (Dokumentationen)
# =========================
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.dvi

# =========================
# PDF (Resultatet)
# =========================
*.pdf